<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webpack v5 TypeScript v5 Boilerplate</title>
  </head>
  <body>
    <!-- built files will be auto injected -->
    <div class="wrapper">
      <input class="num-1" placeholder="Number 1" />
      <input class="num-2" placeholder="Number 2" />
      <button class="get-the-sum">=</button>
      <span></span>
    </div>
    <div class="wrapper">
      <button class="trigger-the-img">Show the Image</button>
    </div>
  </body>
</html>